@model MusicManager.Models.Song

@{ 
    ViewBag.Title = "Add Songs";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.SongName, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.SongName, new { @class = "form-control", @placeholder = "Enter song name here" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ArtistName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ArtistName, new { @class = "form-control", @placeholder = "Enter artist name here" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AlbumName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.AlbumName, new { @class = "form-control", @placeholder = "Enter ablum name here" })
            </div>
            <div>               
                @Html.LabelFor(m => m.Duration, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Duration, new { @class = "form-control", @placeholder = "Enter duration as x.xx" })
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Exclude) @Html.DisplayNameFor(m => m.Exclude)
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="pad-top">
            <button type="submit" class="btn btn-success btn-lg margin-right">
                <span class="glyphicon glyphicon-save"></span> Save
            </button>
            <a href="@Url.Action("Music")" class="btn btn-warning btn-lg">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </a>
        </div>
    </div>
}
